ffmpeg~=1.4
ffmpeg-python
google-cloud-translate~=2.0.1
iso639-lang~=2.2.2
python-dotenv~=1.0.0
gradio==3.38.0
openai==0.28.1
tiktoken~=0.5.2
tinydb~=4.8.0
tinymongo~=0.2.0
proglog~=0.1.10
yt-dlp
torch
torchaudio
### whisper timestamped 
whisper-timestamped
protobuf==3.20.3
pillow==9.0.0
moviepy==1.0.3
progress
questionary
edge-tts
setuptools~=68.2.0
requests~=2.31.0
PyYAML~=6.0.1
pandas~=2.1.4
tqdm~=4.66.1
numpy~=1.26.2